{% extends "base.html" %}
{% load static %}

{% block title %}<title>Логин</title>{% endblock %}

{% block content %}
<div class="py-5"></div>
    <div class="container form-container col-lg-3 col-md-5 col-sm-6 col-6 p-4 border shadow rounded-3">
        <form method="post">

            {% csrf_token %}

            <h3>Вход</h3>
            <div class="my-3">{{ form.username }}</div>
            <div class="my-3">{{ form.password }}</div>

            {% if messages %}
                <div id="my-3 text-center">
                    {% for message in messages %}
                            {{ message|safe }}
                    {% endfor %}
                </div>
            {% else %}
                <div id="my-3 text-center"></div>
            {% endif %}

            <div class="my-3"><button class="btn btn-primary mx-auto d-block" type="submit">Войти</button></div>
        </form>
        </div>
    <div>
</div>
{% endblock %}